<div class="grid-container">
  <div class="grid-container--header">Signals</div>
  <div class="grid-container--content">
    <table style="font-size: 1em; width: 100%; line-height: 1em; table-layout: fixed">
      <tr>
        <th style="width: 22%">
          Signal
        </th>
        <th style="width: 25%">
          Value
        </th>
        <th style="width: 25%">
          Reg Val.
        </th>
        <th style="width: 13%">
          Char
        </th>
      </tr>
      <tr>
        <td>PC</td>
        <td>{{cpuInterface.bindings.pc.value}}</td>
        <td>/</td>
        <td>/</td>
      </tr>
      <tr>
        <td>RD</td>
        <td>{{cpuInterface.bindings.rd.value !== null ? cpuInterface.bindings.rd.value : '/'}}</td>
        <td>/</td>
        <td>/</td>
      </tr>
      <tr>
        <td>IMM</td>
        <td>{{cpuInterface.bindings.imm.value !== null ? cpuInterface.bindings.imm.value : '/'}}</td>
        <td>/</td>
        <td>{{cpuInterface.bindings.imm.value !== null ? fromCharCode(cpuInterface.bindings.imm.value) : '/'}}</td>
      </tr>
      <tr>
        <td>RS1</td>
        <td>{{cpuInterface.bindings.rs1addr.value !== null ? cpuInterface.bindings.rs1addr.value : '/'}}</td>
        <td>{{cpuInterface.bindings.rs1.value !== null ? cpuInterface.bindings.rs1.value : '/'}}</td>
        <td>{{cpuInterface.bindings.rs1.value !== null ? fromCharCode(cpuInterface.bindings.rs1.value) : '/'}}</td>
      </tr>
      <tr>
        <td>RS2</td>
        <td>{{cpuInterface.bindings.rs2addr.value !== null ? cpuInterface.bindings.rs2addr.value : '/'}}</td>
        <td>{{cpuInterface.bindings.rs2.value !== null ? cpuInterface.bindings.rs2.value : '/'}}</td>
        <td>{{cpuInterface.bindings.rs2.value !== null ? fromCharCode(cpuInterface.bindings.rs2.value) : '/'}}</td>
      </tr>
    </table>
  </div>
</div>
