<app-window name="Apate - Wizard">
  <ng-container window-actions>
    <button mat-flat-button color="primary" (click)="setIntroActive(true)" *ngIf="introNotActive">Show Intro</button>
  </ng-container>
  <ng-container window-main>
    <div id="loading"></div>

    <div class="container">
      <div class="wizard-header">
        <div class="title">
          Apate
        </div>
        <div class="subtitle">
          CPU Simulator based on the RISC-V Instruction Set (RV32I)
        </div>
      </div>

      <div class="wizard-content">
        <div class="intro" *ngIf="!introNotActive; else menu">
          <div class="professional-button-container">
            <div class="title">Please watch a short introduction video!</div>
            <button mat-flat-button color="primary" (click)="openInBrowser()">Open in Browser</button>
            <button mat-flat-button color="primary" (click)="setIntroActive(false)">Skip Intro / Continue</button>
          </div>

          <video class="video" controls>
            <source src="{{videoUrl}}" type="video/mp4" />
          </video>

        </div>

        <ng-template #menu>
          <div class="column">
            <div class="header">
              <div class="title">
                Compile
              </div>
            </div>
            <div class="content">
              <div class="description">
                Compile and simulate your own C files. This requires a RISC-V Toolchain.
              </div>
              <div class="info" *ngIf="!dataService.getSetting(DataKeys.TOOLCHAIN_PATH)">
                <div class="text">
                  No installed toolchain found. Please go to Settings and download the toolchain.
                </div>
                <button mat-flat-button color="primary" (click)="openSettingsDialog(dataService)">Open Settings</button>
              </div>
              <button mat-flat-button color="accent" (click)="initiateNewProject()">New Project</button>
              <button mat-flat-button color="primary" (click)="openExistingProject()">Open Project</button>
            </div>
          </div>

          <div class="column">
            <div class="header">
              <div class="title">
                Simulate
              </div>
            </div>
            <div class="content">
              <div class="description">
                Simulate your own precompiled RV32I ELF files.
              </div>
              <button mat-flat-button color="accent" (click)="openCustomELF()">Select ELF file</button>
            </div>
          </div>
          <div class="column">
            <div class="header">
              <div class="title">
                Demos
              </div>
            </div>
            <div class="content">
              <div class="description">
                Use precompiled ELF files and simulate them.
              </div>
              <button mat-flat-button color="accent" (click)="openDemo('adder')">Simple Adder</button>
              <button mat-flat-button color="accent" (click)="openDemo('function')">Function Call</button>
              <button mat-flat-button color="accent" (click)="openDemo('print')">Print to Terminal</button>
            </div>
          </div>

        </ng-template>
      </div>
    </div>
  </ng-container>
</app-window>
