// COLORS

$grey1: #3d3f41;
$grey2: #292a2b;
$grey3: #1a1b1c;

$greyCount: 3;
$greys: $grey1 $grey2 $grey3;

@for $i from 1 through $greyCount {
  .grey#{$i} {
    background-color: nth($greys, $i);
  }
}

$accent: #1176a5;
$accentDark: #00394f;

$colorMemory: #d35750;
$colorMemoryDark: #943530;
$colorALU: #cd944c;
$colorALUDark: #A27234;
$colorRegs: #62613e;
$colorRegsDark: #4c4b2d;
$colorBranchEval: #873B9A;
$colorBranchEvalDark: #5E1A6E;
$colorControlUnit: #308867;


// Make variable accessible in js
body {
  @for $i from 1 through $greyCount {
    // Make no spaces between or js will read them wrong
    --grey#{$i}:#{nth($greys, $i)};
  }

  --accent:#{$accent};
  --accent-dark:#{$accentDark};
}

// SIZES
$headerHeight: 3.5em;
$tabsHeight: 2em;
$margin: 0.6em;
$bodyMarginTop: $headerHeight;
$controlHeight: 3em;
$gridWidth: 11em;
$gridHeight: 5em;

$border: 1px solid $grey1;

@mixin scrollbar {
  /* width */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: block !important;
  }

  /* Track */
  *::-webkit-scrollbar-track {
    background: $grey3;
  }

  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: $grey1;
  }

  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: $grey1;
  }

  *::-webkit-scrollbar-corner {
    background: $grey3;
  }
}
