// COLORS

$grey1: #414141;
$grey2: #292929;
$grey3: #1C1C1C;

$greyCount: 3;
$greys: $grey1 $grey2 $grey3;

@for $i from 1 through $greyCount {
  .grey#{$i} {
    background-color: nth($greys, $i);
  }
}

$accent: #1176a5;
$accentDark: #00394f;

// Make variable accessible in js
body {
  @for $i from 1 through $greyCount {
    // Make no spaces between or js will read them wrong
    --grey#{$i}:#{nth($greys, $i)};
  }

  --accent:#{$accent};
  --accent-dark:#{$accentDark};
}

// FONTS
.mono {
  font-family: "Roboto Mono", monospace;
}


// SIZES
$headerHeight: 2em;
$tabsHeight: 2em;
$tabsMarginLeft: 0.6em;
$bodyMarginTop: $headerHeight + $tabsHeight;

$border: 1px solid $grey1;

