@import "import";

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

// Tippy.js
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
//@import '~tippy.js/animations/scale.css';
//@import '~tippy.js/animations/shift-toward.css';
@import '~tippy.js/animations/shift-toward-subtle.css';

// Tippy overrides
.tippy-content {
  .context-menu-item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    // Remove paddings from parent element with negative margins
    &:first-child {
      margin-top: -5px;
    }

    &:last-child {
      margin-bottom: -5px;
    }

    margin-left: -9px;
    margin-right: -9px;

    padding: 5px 9px;
  }
}

// Angular Material
@import "material";

// Codemirror
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/dracula";

// CodeMirror overrides
.cm-s-dracula.CodeMirror {
  height: 100%;
}

.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #f8f8f2 !important;
  border: none;
}

.cm-s-dracula .CodeMirror-gutters {
  background-color: $grey3 !important;
}

// Normalize

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

hr {
  border: none;
  border-bottom: 1px solid #00000029;
}

// Disable scrollbar
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

// Fonts

@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('assets/Roboto_Mono/RobotoMono-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('assets/Roboto_Mono/RobotoMono-Bold.ttf');
  font-weight: bold;
}

// FONTS
.mono {
  font-family: "Roboto Mono", monospace;
}


// Default styling

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, serif;
  background: $grey2;
  height: 100%;
  font-size: 10pt;
}

button {
  font-size: 10pt;
  -webkit-app-region: no-drag !important;
  background: none;
  color: white;
  border: none;
  line-height: 2em !important;
  height: 2em;

  &:focus {
    outline: none;
  }
}

// Classes which are used multiple times

.small-rounded-container {
  border-radius: 1em;
  border: $border;
  margin: 0.3em;
  padding: 0.3em;
}

.small-edged-container {
  border: $border;
  margin: 0.3em;
  padding: 0.3em;
}

.text-rounded-container {
  border-radius: 1em;
  border: $border;
  display: inline-block;
  padding: 0.1em 0.5em;
  background: transparent;
}

.tabs {
  display: flex;
  height: $tabsHeight;
  background-color: $grey2;

  button {
    color: white;
    background-color: $grey2;
    border: $border;
    margin-left: $margin;
    padding: 0em 1em;
    margin-bottom: -1px;

    &:focus {
      outline: 0;
    }

    &[selected=true] {
      background-color: $grey3;
      border-bottom: 0;
      z-index: 10;
    }
  }
}

// Used in instructions, registers, terminal
.grid-container {
  height: 100%;
  width: 100%;
  background: $grey3;
  border: $border;
  overflow: hidden;

  &--header {
    border-bottom: $border;
    padding: $margin;
    align-items: center;
    display: flex;
    justify-content: space-between;

    /** In span so padding is not affected by font-size **/
    span {
      font-size: large;
      font-weight: bold;
    }
  }

  &--content {
    overflow: scroll;
    height: calc(100% - 2em);
  }
}

/* Used by compile and simulation in the middle */
.control {
  flex: 0 0;
  .title {
    padding: $margin;
    span {
      font-weight: bold;
      font-size: large;
    }
  }

  .settings {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.2em;

    mat-checkbox {
      margin-right: 0.5em;
    }
  }

  .tabs {
    background: $grey3;
    border-bottom: $border;
  }

  .actions {
    position: absolute;
    right: $margin;
    top: $tabsHeight;
  }
}

/** Used in text and description **/
.module {
  display: inline-block;
  background-color: $grey1;
  border: 1px white solid;
  padding: 0.1em 0.3em;
  &.memory {
    background-color: $colorMemory;
  }
  &.controlunit {
    background-color: $colorControlUnit;
  }
  &.registers {
    background-color: $colorRegs;
  }
  &.alu {
    background-color: $colorALU;
  }
  &.branchevaluator {
    background-color: $colorBranchEval;
  }
}

.port {
  display: inline-block;
  background-color: $grey1;
  border: 1px white solid;
  padding: 0.1em 0.3em;
}

.wikilink {
  display: inline-block;
  color: lighten($accent, 10%);
  font-weight: bold;
  cursor: pointer;
  &:after {
    content: "\f0c1"; // Link symbol https://fontawesome.com/icons/link?style=solid
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    padding-left: 0.5em;
  }
  &:hover {
    color: lighten($accent, 20%);
  }
}

