/* You can add global styles to this file, and also import other style filesInFolder */
@import "import";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/dracula";

@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';


.cm-s-dracula.CodeMirror {
  height: 100%;
}

.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #f8f8f2 !important;
  border: none;
}

.cm-s-dracula .CodeMirror-gutters {
  background-color: $grey3 !important;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('assets/Roboto_Mono/RobotoMono-Regular.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, serif;
  background: $grey2;
  height: 100%;
  font-size: 10pt;
}

button {
  font-size: 10pt;
  -webkit-app-region: no-drag !important;
  background: none;
  color: white;
  border: none;
  &:focus {
    outline: none;
  }
}

.small-rounded-container {
  border-radius: 1em;
  border: $border;
  margin: 0.3em;
  padding: 0.3em;
}

.text-rounded-container {
  border-radius: 1em;
  border: $border;
  display: inline-block;
  padding: 0.1em 0.5em;
  background: transparent;
}


.tabs {
  display: flex;
  height: $tabsHeight;
  background-color: $grey2;

  button {
    color: white;
    background-color: $grey2;
    border: $border;
    margin-left: $tabsMarginLeft;
    padding: 0em 1em;
    margin-bottom: -1px;

    &:focus {
      outline: 0;
    }

    &[selected=true] {
      background-color: $grey3;
      border-bottom: 0;
      z-index: 10;
    }
  }
}

// Used in instructions registers terminal
.grid-container {
  height: 100%;
  width: 100%;
  background: $grey3;
  border: $border;
  overflow: hidden;

  &--header {
    border-bottom: $border;
    padding: 0.5em;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &--content {
    overflow: scroll;
    height: calc(100% - 2em);
  }
}

hr {
  border: none;
  border-bottom: 1px solid #00000029;
}

