@import "style/fonts";
@import "import";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "style/material";
@import "style/tippy";
@import "style/inline-boxes";
@import "style/prism";

// Normalize

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

hr {
  border: none;
  border-bottom: 1px solid #00000029;
}

// Default disable scrollbar, if scrollbars are used @include scrollbars from import.scss
::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

// FONTS
.mono {
  font-family: "Roboto Mono", monospace;
}

// Default styling

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, serif;
  background: $grey2;
  height: 100%;
  font-size: 10pt;
  overflow-y: hidden;
}

button {
  font-size: 10pt;
  -webkit-app-region: no-drag !important;
  background: none;
  color: white;
  border: none;
  line-height: 2em !important;
  height: 2em;

  &:focus {
    outline: none;
  }
}

// Classes which are used multiple times

.small-rounded-container {
  border-radius: 1em;
  border: $border;
  margin: 0.3em;
  padding: 0.3em;
}

.small-edged-container {
  border: $border;
  margin: 0.3em;
  padding: 0.3em;
}

.text-rounded-container {
  border-radius: 1em;
  border: $border;
  display: inline-block;
  padding: 0.1em 0.5em;
  background: transparent;
}

.tabs {
  display: flex;
  height: $tabsHeight;
  background-color: $grey2;

  button {
    color: white;
    background-color: $grey2;
    border: $border;
    margin-left: $margin;
    padding: 0em 1em;
    margin-bottom: -1px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &[selected=true] {
      background-color: $grey3;
      border-bottom: 0;
      z-index: 10;
    }
  }
}

// Used in instructions, registers, terminal
.grid-container {
  height: calc(100% + 2px);
  background: $grey3;
  border: 1px solid #3d3f41;
  border-bottom: none;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;

  &--header {
    border-bottom: $border;
    padding: $margin;
    align-items: center;
    display: flex;
    justify-content: space-between;

    /** In span so padding is not affected by font-size **/
    span {
      font-size: large;
      font-weight: bold;
    }
  }

  &--content {
    overflow: scroll;
    height: calc(100% - 2em);
  }
}

/* Used by compile and simulation in the middle */
.control {
  flex: 0 0;
  .title {
    padding: $margin;
    span {
      font-weight: bold;
      font-size: large;
    }
  }

  .settings {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.2em;

    mat-checkbox {
      margin-right: 0.5em;
    }
  }

  .tabs {
    background: $grey3;
    border-bottom: $border;
  }

  .actions {
    position: absolute;
    right: $margin;
    top: $tabsHeight;
  }
}

a {
  display: inline-block;
  color: lighten($accent, 10%);
  font-weight: bold;
  cursor: pointer;
  outline: none;
  &:hover {
    color: lighten($accent, 20%);
  }
}

