# See http://help.github.com/ignore-files/ for more about ignoring filesInFolder.

# compiled output
/dist
/tmp
/out-tsc
/app-builds
/release
/main.js
!main_renderer/karma.conf.js
*.js.map

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
!/e2e/protractor.conf.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# App specific
/downloads
/risc_test_executable/CMakeFiles
/risc_test_executable/cmake_install.cmake
/risc_test_executable/CMakeCache.txt
/risc_test_executable/Makefile
/risc_test_executable/SimulationLibrary.cbp
/risc_test_executable/.idea
/risc_test_executable/riscv-exe.cbp

/webpack_plugin/ttf-msdf-loader.js
