<ng-template #registerInfo>
  <strong>Registers</strong><br>
  Displays all 32 registers and their currently stored values.
  Hover over the short name to see the full name.<br><br>
  Each instruction cycle up to three addresses (RD, RS1, RS2) are read from the instruction.
  These addresses correspond to a position in the registers and are also marked.<br><br>

  <table>
    <tr style="vertical-align: top">
      <td>
        <div class="rd-info">RD (Register Destination)</div>
      </td>
      <td>
        Address at which the calculated / loaded data is stored in the 'Write Back' stage.
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td>
        <div class="rs1-info">RS1 (Register Source 1)</div>
      </td>
      <td>
        Address at which data is loaded from a register. RS1 and RS2 values are read from the register in the 'Decoder' stage.
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td>
        <div class="rs2-info">RS2 (Register Source 2)</div>
      </td>
      <td>
        Additional address at which data is loaded from a register.
      </td>
    </tr>
  </table>
</ng-template>

<div class="grid-container">
  <div class="grid-container--header">
    <div style="width: fit-content" [tippy]="registerInfo">
      <span>Registers<i class="fas fa-question-circle" style="margin-left: 0.5em"></i></span>
    </div>
  </div>
  <div style="margin: 0.5em">
    <mat-checkbox [(ngModel)]="dataAsDecimal">Data as decimal</mat-checkbox>
  </div>
  <div class="grid-container--content">
    <table class="reg-table">
      <tr>
        <th style="width: 22%">
          Signal
        </th>
        <th style="width: 10%">
          Addr.
        </th>
        <th style="width: 13%">
          Name
        </th>
        <th style="width: 25%">
          {{dataAsDecimal ? 'Dec' : 'Hex'}}
        </th>
        <th style="width: 10%">
          ASCII
        </th>
      </tr>
      <ng-container *ngFor="let item of [].constructor(32); let i = index">
        <ng-container *ngTemplateOutlet="(cpu.bindings.rd.value == i ||
                      cpu.bindings.rs1addr.value == i ||
                      cpu.bindings.rs2addr.value == i) ? hasActiveRegister : hasNoActiveRegister; context: { i: i, rd: cpu.bindings.rd.value == i, rs1: cpu.bindings.rs1addr.value == i , rs2: cpu.bindings.rs2addr.value == i  }">
        </ng-container>
      </ng-container>
    </table>
  </div>
</div>

<ng-template #hasActiveRegister let-i="i" let-rd="rd" let-rs1="rs1" let-rs2="rs2">
  <tr [class.active-reg-rs1]="rs1" [class.active-reg-rs2]="rs2" [class.active-reg-rd]="rd">
    <td>
      <span *ngIf="rd && !rs2 && !rs1" tippy="Register Destination">RD</span>
      <span *ngIf="rd && !rs2 && rs1" tippy="Register Destination and Register Source 1">RD/RS1</span>
      <span *ngIf="rd && rs2 && !rs1" tippy="Register Destination and Register Source 2">RD/RS2</span>
      <span *ngIf="!rd && !rs2 && rs1" tippy="Register Source 1">RS1</span>
      <span *ngIf="!rd && rs2 && !rs1" tippy="Register Source 2">RS2</span>
      <span *ngIf="!rd && rs2 && rs1" tippy="Register Source 1 and 2">RS1/RS2</span>
      <span *ngIf="rd && rs2 && rs1" tippy="Register Destination, Source Register 1 and 2">RD/RS1/RS2</span>
    </td>
    <ng-container *ngTemplateOutlet="line; context: { i: i }"></ng-container>
  </tr>
</ng-template>

<ng-template #hasNoActiveRegister let-i="i">
  <tr>
    <td></td>
    <ng-container *ngTemplateOutlet="line; context: { i: i }"></ng-container>
  </tr>
</ng-template>

<ng-template #tippyRegisterName let-hide let-i="data">
  <strong>{{cpuRegDefinitions[i][1]}}</strong><br>
  short: {{cpuRegDefinitions[i][0]}}
</ng-template>

<ng-template #tippyRegisterValue let-hide let-i="data">
  <strong>Register {{i}}</strong><br>
  <table style="border-spacing: 0">
    <tr>
      <td>as hex:</td>
      <td>{{byteToHex(cpu.bindings.cpuregs.value[i], 2)}}
    </tr>
    <tr>
      <td>as decimal:</td>
      <td>{{cpu.bindings.cpuregs.value[i]}}</td>
    </tr>
    <tr>
      <td>as ASCII:</td>
      <td>{{fromCharCode(cpu.bindings.cpuregs.value[i])}}</td>
    </tr>
  </table>
</ng-template>

<ng-template #line let-i="i">
  <td>
    <div [tippy]="tippyRegisterName" [data]="i" class="text-rounded-container grey1">{{i}}</div>
  </td>
  <td>
    <span [tippy]="tippyRegisterName" [data]="i">{{cpuRegDefinitions[i][0]}}</span>
  </td>
  <td>
    <span [tippy]="tippyRegisterValue" [data]="i">{{dataAsDecimal ? cpu.bindings.cpuregs.value[i] : byteToHex(cpu.bindings.cpuregs.value[i], 2)}}</span>
  </td>
  <td>
    <span [tippy]="tippyRegisterValue" [data]="i">{{fromCharCode(cpu.bindings.cpuregs.value[i])}}</span>
  </td>
</ng-template>


