@import "../../../../../import";

$registerColors: (
  "rd": #167700,
  "rs1": #00776d,
  "rs2": #1a0077,
);

@each $themeColour, $i in $registerColors {
  .#{$themeColour}-info {
    background-color: $i;
    color: white;
    border-radius: 1em;
    padding: 0.2em 0.4em;
    width: max-content;
  }

  .active-reg-#{$themeColour} {
    @extend .active-reg;
    background-color: $i;
  }
}

.active-reg {
  height: 1.5em;
}

.reg-table {
  font-size: 1em;
  line-height: 1em;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    overflow-y: scroll;
  }

  td:first-child {
    padding-left: 0.5em;
    text-align: center;
  }

  td:nth-last-child(4) {
    text-align: center;
  }

  td:nth-last-child(3) {
    text-align: left;
  }

  td:nth-last-child(2) {
    text-align: right;
    font-family: 'Roboto Mono', monospace;
  }

  td:nth-last-child(1) {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }

  th {
    border-bottom: $border;
    line-height: 1.5em;
    background-color: $grey2;
  }
}
