<app-window name="Settings" [showMaximize]="false" [showMinimize]="false">
  <div window-main>
    <div class="setting-box">
      <div class="title">RISC-V Toolchain</div>
      <div class="toolchain-path" contenteditable="false" [ngStyle]="{'display': toolchainPath ? 'none' : 'block'}">
        <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING"
             style="margin-right: 2em; overflow-x: scroll">
          Downloading, please wait... {{toolchainPercentDownloaded}} %
        </div>
        <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.UNZIPPING"
             style="margin-right: 2em; overflow-x: scroll">
          Unzipping, please wait...
        </div>
        <div
          *ngIf="!toolchainPath
        && !(toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING
        || toolchainDownloaderState === ToolchainDownEnum.UNZIPPING)">
          Path is not set
        </div>
      </div>
      <app-setting [settingKey]="DataKeys.TOOLCHAIN_PATH" #toolchainSetting
                   [ngStyle]="{'display': toolchainPath ? 'block' : 'none'}"></app-setting>
      <i [tippy]="toolchainPathOptions" variation="menu" [offset]="[13, 10]" placement="bottom-end" class="fas fa-chevron-down" style="top: 2em;"></i>
    </div>
    <div class="setting-box">
      <div class="title">Prefix</div>
      <app-setting [settingDefault]="toolchainPrefixDefault"
                   [settingKey]="DataKeys.TOOLCHAIN_PREFIX" #prefix></app-setting>
    </div>

    <div class="setting-box">
      <div class="title">Objdump flags</div>
      <app-setting [settingDefault]="objdumpFlagsDefault"
                   [settingKey]="DataKeys.OBJDUMP_FLAGS" #objdumpflags></app-setting>
    </div>

    <div class="setting-box">
      <div class="title">Readelf flags</div>
      <app-setting [settingDefault]="readElfDefault"
                   [settingKey]="DataKeys.READ_ELF_FLAGS" #reafelfflags></app-setting>
    </div>

    <div class="setting-box">
      <button mat-flat-button color="accent"
              (click)="saveSettings([reafelfflags, objdumpflags, prefix, toolchainSetting])">Save and Close
      </button>
    </div>
  </div>
</app-window>


<ng-template #toolchainPathOptions let-hide>
  <ul>
    <li (click)="downloadToolchain(); hide()" *ngIf="toolchainDownloaderState === ToolchainDownEnum.NOT_DOWNLOADED">
      Automatically download and set toolchain
    </li>
    <li (click)="openToolchainPathExplorerDialog(); hide()"
        *ngIf="toolchainDownloaderState !== ToolchainDownEnum.DOWNLOADING &&
                toolchainDownloaderState !== ToolchainDownEnum.UNZIPPING">
      Set local toolchain path
    </li>
    <li (click)="useDownloadedToolchain(); hide()" *ngIf="
  toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
  || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED">
      Use downloaded toolchain
    </li>
    <li (click)="removeToolchain(); hide()" *ngIf="
  toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
  || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED">
      Remove downloaded toolchain
    </li>
    <li *ngIf="toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING">
      {{'Downloading... ' + toolchainPercentDownloaded + "%"}}
    </li>
    <li *ngIf="toolchainDownloaderState === ToolchainDownEnum.UNZIPPING">
      Unzipping
    </li>
  </ul>
</ng-template>
