@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/dracula.css";

// CodeMirror overrides
.cm-s-dracula.CodeMirror {
  height: 100%;
}

.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #f8f8f2 !important;
  border: none;
}

.cm-s-dracula .CodeMirror-gutters {
  background-color: $grey3 !important;
}
