
@font-face {
  font-family: 'Roboto';
  src: url('~bundled/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~bundled/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('~bundled/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('~bundled/fonts/Roboto_Mono/RobotoMono-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('~bundled/fonts/Roboto_Mono/RobotoMono-Bold.ttf');
  font-weight: bold;
}
