<div class="grid-container">
  <div *ngFor="let section of sections" class="small-rounded-container grey3">
    {{section.name}}
    <div *ngFor="let symbol of section.symbols" class="small-rounded-container grey2">
      <div class="text-rounded-container grey1 mono">{{symbol.hex}}</div>
      {{symbol.name}}
      <ng-container *ngFor="let code of symbol.code">
        <ng-container *ngTemplateOutlet="code.code ? with_code : pure_assembly; context: { $implicit:  code}">
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #with_code let-code>
  <div class="small-rounded-container grey3">
    <div *ngIf="code.code" class="text-rounded-container grey4 mono">{{code.code}}</div>
    <ng-container *ngTemplateOutlet="pure_assembly;  context: { $implicit:  code}"></ng-container>
  </div>
</ng-template>

<ng-template #pure_assembly let-code>
  <div id="assembly-code-div-{{assembly.pc}}" *ngFor="let assembly of code.assembly" class="small-rounded-container grey4"
       style="display: flex; justify-content: space-between; align-items: center;">
    <div class="text-rounded-container grey1 mono">{{byteToHex(assembly.pc,1)}}</div>
    <div style="flex-grow: 1; padding-left: 0.5em">{{assembly.opcode}}</div>
    <div class="text-rounded-container grey1 mono">{{assembly.hex}}</div>
  </div>
</ng-template>
