@import "../../../import";

:host {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 $gridWidth * 2;
  display: flex;
  flex-direction: column;
  height: 100%;

  .box {
    outline: $border;
    //margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    background-color: $grey3;
    flex: 1 0 0px;
    min-height: 0;

    .header {
      border-bottom: $border;
      padding: $margin;
      align-items: center;
      display: flex;
      justify-content: space-between;
      span {
        font-size: large;
        font-weight: bold;
      }
    }

    .text-box {
      padding: $margin;
      color: white;
      width: 100%;
      text-overflow: ellipsis;
      overflow: scroll;
      height: calc(100% - 2em - 1em);
    }
  }
}


.file {
  &:hover {
    background: $grey2;
  }
}

.editor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background: $grey3;
  border-right: $border;
  border-top: $border;
  position: relative;

  .content {
    height: calc(100% - #{$headerHeight + $tabsHeight - $margin});
    background: $grey3;
    border-right: $border;
  }
}

.option-menu {
  position: absolute;
  font-size: 0.9em;
  background-color: $grey1;
  display: none;

  .option {
    padding: 0.2em 0.5em 0.2em 0.5em;

    &:hover {
      background: $grey2;
    }
  }
}
