<div class="sidebar">
  <div class="box">
    <div class="header">
      Sources
    </div>
    <div class="text-box">
      <div *ngFor="let file of filesInFolder" class="file" (click)="clickFile($event, file)">{{file}}</div>
    </div>
  </div>

  <div class="box">
    <div class="header">
      Terminal Output
    </div>
    <div #terminalOutputElement class="text-box"
         style="white-space: pre-wrap; font-family: 'Roboto Mono'">{{terminalOutput}}</div>
  </div>
</div>

<div class="editor">
  <div class="control">
    <div class="title"><span>Compile</span></div>
    <div class="actions"><button mat-flat-button color="accent">Compile</button></div>
    <div class="tabs">
      <button *ngIf="activeFile" selected=true>{{activeFile}}
        <i *ngIf="fileIsSavable" style="margin-left: 0.5em; font-size: 0.9em;"
           class="fas fa-pen"></i></button>
    </div>
  </div>

  <div class="content" #fileAreaContainer>
    <ngx-codemirror style="width: 100%; height: 100%"
                    [(ngModel)]="fileContent"
                    (ngModelChange)="fileContentChanged($event)"
                    [options]="editorOptions"
                    #codemirrorComponent
    ></ngx-codemirror>
  </div>
</div>


<div #fileOptions class="option-menu">
  <div class="option" (click)="openFileAsHexDump()">
    Hexdump
  </div>
  <div class="option" (click)="openFileAsObjectDump()">
    Objdump
  </div>
  <div class="option" (click)="openFileAsReadElf()">
    Readelf
  </div>
</div>


