<div class="header">
  <button [routerLink]="['./simulation']" *ngIf="isSelectedButton('compile')" mat-flat-button color="primary">To Simulation</button>
  <button [routerLink]="['./compile']" *ngIf="isSelectedButton('simulation')" mat-flat-button color="primary">To Compile</button>
  <button mat-flat-button color="primary" (click)="openProjectDialog()">Open Project</button>
  <button mat-flat-button color="primary" (click)="closeProject()">Close Project</button>
  <button mat-flat-button color="primary" (click)="newProjectDialog()">New Project</button>
  <button mat-flat-button color="primary" (click)="openSettingsDialog()">Settings</button>
</div>

<div class="container">
  <router-outlet>
  </router-outlet>
</div>
