<div class="header">
  <div style="margin-left: 1em">Source Files</div>
  <app-setting [(setting)]="gccSources" [settingDefault]="" settingKey="gccSources"
               style="margin-left: 1em"></app-setting>
  <div style="margin-left: 1em">GCC FLAGS</div>
  <app-setting [(setting)]="gccFlags" [settingDefault]="gccFlagsDefault" settingKey="gccFlags"
               style="margin-left: 1em"></app-setting>
  <app-compile-button [compiling]="compiling" (compile)="compile()"></app-compile-button>
</div>

<div class="container">
  <div class="box-container" style="width: 20em;margin-bottom: -1px">
    <div class="box" style="height: calc(50% - 1px)">
      <div class="box--header">
        Sources
      </div>
      <div class="text-box">
        <div *ngFor="let file of filesInFolder" class="file" (click)="clickFile($event, file)">{{file}}</div>
      </div>
    </div>
    <div style="text-align: center;">
    </div>
    <div class="box" style="height: calc(50% - 2px)">
      <div class="box--header">
        Terminal Output
      </div>
      <div #terminalOutputElement class="text-box" style="white-space: pre-wrap; font-family: 'Roboto Mono'">{{terminalOutput}}</div>
    </div>
  </div>

  <div style="height: 100%; flex-grow: 2; flex-basis: 0; min-width: 30em">
    <div class="file-bar">
      <div class="file-bar-bottomer">
        <div class="tabs">
          <button *ngIf="activeFile" selected=true>{{activeFile}}
            <i *ngIf="fileIsSavable" style="margin-left: 0.5em; font-size: 0.9em;"
               class="fas fa-pen"></i></button>
        </div>
      </div>
    </div>
    <div class="file-area-container">
        <div class="line-number">
          <pre>{{lineNumbers}}</pre>
        </div>
        <textarea #fileTextArea wrap="off" class="file-area" [readOnly]="!fileIsSavable"
                  (input)="fileContentEdited($event)"></textarea>
      </div>
  </div>
</div>

<div #fileOptions class="option-menu">
  <div class="option" (click)="openFileAsHexDump()">
    Hexdump
  </div>
  <div class="option" (click)="openFileAsObjectDump()">
    Objdump
  </div>
  <div class="option" (click)="openFileAsReadElf()">
    Readelf
  </div>
</div>


