@import "../../../import";

.box-container {
  overflow-y: scroll;

  .box {
    outline: $border;
    //margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: $grey3;
    &--header {
      border-bottom: $border;
      padding: 0.5em;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.text-box {
  padding: 0.5em;
  color: white;
  width: 100%;
  text-overflow: ellipsis;
  overflow: scroll;
  height: calc(100% - 2em - 2px);
}

.file {
  &:hover {
    background: $grey2;
  }
}

.file-bar {
  height: 3em;
  background: $grey2;
  position: relative;

  .file-bar-bottomer {
    position: absolute;
    bottom: 0;
    left: 4em;
  }
}

.file-area-container {
  height: calc(100% - 3em);
  background: $grey3;
  display: flex;
  border-top: $border;
  border-right: $border;
  border-bottom: $border;
}

.option-menu {
  position: absolute;
  font-size: 0.9em;
  background-color: $grey1;
  display: none;

  .option {
    padding: 0.2em 0.5em 0.2em 0.5em;

    &:hover {
      background: $grey2;
    }
  }
}
