<app-window name="Editor" [showMaximize]="false" [showMinimize]="false">
  <div window-actions>
    <button [routerLink]="['../wizard']" mat-flat-button color="primary">Back</button>
  </div>
  <div window-main style="height: 100%">
    <div #graph class="canvas"></div>
    <div class="toolbar">
      <div>
        You can see the Register Source 1 here<br>
      </div>
      <div>
        <mat-slider (input)="fromSliderChanged($event)" max="31" min="0" step="1" thumbLabel value="1"></mat-slider>
        <mat-slider thumbLabel min="0" max="31" step="1" value="1" (input)="toSliderChanged($event)"></mat-slider>

        <button mat-flat-button color="primary" (click)="focusOnNext()">Continue</button>
      </div>
    </div>
  </div>
</app-window>
