<div class="sidebar">
  <div class="box">
    <div class="header">
      <span>Sources</span>
    </div>
    <div class="text-box">
      <div *ngFor="let file of filesInFolder" class="file" (click)="clickFile($event, file)">{{file}}</div>
    </div>
  </div>

  <div class="box">
    <div class="header">
      <span>Terminal Output</span>
    </div>
    <div #terminalOutputElement class="text-box"
         style="white-space: pre-wrap; font-family: 'Roboto Mono'; word-break: break-all">{{terminalOutput}}</div>
  </div>
</div>

<div class="editor">
  <div class="control">
    <div class="title"><span>Compile</span></div>
    <div class="actions"><button mat-flat-button color="accent" (click)="compile()" tippy="Compile to ELF">Compile<i class="fas fa-hammer" style="margin-left: 0.5em;"></i></button></div>
    <div class="tabs">
      <button *ngIf="activeFile" selected=true>{{activeFile}}
        <i *ngIf="fileIsSavable" style="margin-left: 0.5em; font-size: 0.9em;"
           class="fas fa-pen"></i></button>
    </div>
  </div>

  <div class="content">
    <div id="editor-container" #fileAreaContainer>
      <ngx-monaco-editor [options]="editorOptions" [ngModel]="fileContent" (ngModelChange)="fileContentChanged($event)" (init)="editorInit()"></ngx-monaco-editor>
    </div>
  </div>
</div>


<div #fileOptions class="option-menu">
  <div class="option" (click)="openFileAsHexDump()">
    Hexdump
  </div>
  <div class="option" (click)="openFileAsObjectDump()">
    Objdump
  </div>
  <div class="option" (click)="openFileAsReadElf()">
    Readelf
  </div>
</div>


