@import "../../../import";

.setting {
  background: $grey2;
  border: $border;
  padding: 0.3em;
  color: white;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
  font-size: inherit;
  height: 2em;
  border-radius: 0.4em;

  &:focus {
    outline: none;
  }
}
