<div class="settings">
  <div class="header">
    <div class="title">Settings</div>
    <button (click)="closeWindow()"><i class="fas fa-times" style="font-size: 1.5em;"></i></button>
  </div>

  <div class="setting-box">
    Settings will be saved automatically
  </div>

  <div class="setting-box">
    <div class="title">RISC-V Toolchain</div>
    <div
      *ngIf="!toolchainPath || toolchainDownloaderState === ToolchainDownEnum.UNZIPPING || toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING; else toolchainPathSetting"
      class="toolchain-path" contenteditable="false">
      <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING"
           style="margin-right: 2em; overflow-x: scroll">Downloading... {{toolchainPercentDownloaded}} %
      </div>
      <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.UNZIPPING"
           style="margin-right: 2em; overflow-x: scroll">Unzipping...
      </div>
      <div
        *ngIf="!toolchainPath
        && (toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
        || toolchainDownloaderState === ToolchainDownEnum.NOT_DOWNLOADED
        || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED)"
        style="margin-right: 2em; overflow-x: scroll">Path is not set
      </div>
    </div>
    <ng-template #toolchainPathSetting>
      <app-setting
        [(setting)]="toolchainPath" settingKey="toolchainPath"></app-setting>
    </ng-template>
    <i (click)="clickToolchainPath($event)" class="fas fa-chevron-down" style="top: 2em;"></i>
  </div>
  <div class="setting-box">
    <div class="title">Prefix</div>
    <app-setting [(setting)]="toolchainPrefix" [settingDefault]="toolchainPrefixDefault"
                 settingKey="toolchainPrefix"></app-setting>
  </div>

  <div class="setting-box">
    <app-action-button text="Clear settings and restart" (activate)="clearSettingsAndRestart()"></app-action-button>
  </div>

</div>


<div #toolchainPathOptions class="option-menu">
  <div (click)="openToolchainPathExplorerDialog()" class="option">
    Set local...
  </div>
  <div (click)="useDownloadedToolchain()" *ngIf="
  toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
  || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED"
       class="option">
    Use downloaded toolchain
  </div>
  <div (click)="removeToolchain()" *ngIf="
  toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
  || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED"
       class="option">
    Remove downloaded toolchain
  </div>
  <div (click)="downloadToolchain()" *ngIf="toolchainDownloaderState === ToolchainDownEnum.NOT_DOWNLOADED"
       class="option">
    Download toolchain
  </div>
  <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING" class="option">
    {{'Downloading... ' + toolchainPercentDownloaded + "%"}}
  </div>
  <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.UNZIPPING" class="option">
    Unzipping
  </div>
</div>
