<div class="settings">
  <div class="header">
    <div class="title">Settings</div>
    <button (click)="closeWindow()"><i class="fas fa-times" style="font-size: 1.5em;"></i></button>
  </div>

  <div class="setting-box">
    Settings will be saved automatically
  </div>

  <div class="setting-box">
    <div class="title">Source files</div>
    <app-setting [settingKey]="DataKeys.GCC_SOURCES" #sources></app-setting>
  </div>

  <div class="setting-box">
    <div class="title">ELF to simulate (will be set to elf in folder)</div>
    <app-setting [settingDefault]="'Enter Manually when no ELF was detected'"
                 [settingKey]="DataKeys.ELF_PATH" #elf></app-setting>
  </div>

  <div class="setting-box">
    <div class="title">RISC-V Toolchain</div>
    <div
      *ngIf="!toolchainPath || toolchainDownloaderState === ToolchainDownEnum.UNZIPPING || toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING; else toolchainPathSetting"
      class="toolchain-path" contenteditable="false">
      <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING"
           style="margin-right: 2em; overflow-x: scroll">Downloading... {{toolchainPercentDownloaded}} %
      </div>
      <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.UNZIPPING"
           style="margin-right: 2em; overflow-x: scroll">Unzipping...
      </div>
      <div
        *ngIf="!toolchainPath
        && (toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
        || toolchainDownloaderState === ToolchainDownEnum.NOT_DOWNLOADED
        || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED)"
        style="margin-right: 2em; overflow-x: scroll">Path is not set
      </div>
    </div>
    <ng-template #toolchainPathSetting>
      <app-setting [settingKey]="DataKeys.TOOLCHAIN_PATH" #toolchain></app-setting>
    </ng-template>
    <i (click)="clickToolchainPath($event)" class="fas fa-chevron-down" style="top: 2em;"></i>
  </div>
  <div class="setting-box">
    <div class="title">Prefix</div>
    <app-setting [settingDefault]="toolchainPrefixDefault"
                 [settingKey]="DataKeys.TOOLCHAIN_PREFIX" #prefix></app-setting>
  </div>

  <div class="setting-box">
    <div class="title">GCC flags</div>
    <app-setting [settingDefault]="gccFlagsDefault"
                 [settingKey]="DataKeys.GCC_FLAGS" #gccflags></app-setting>
  </div>

  <div class="setting-box">
    <div class="title">Objdump flags</div>
    <app-setting [settingDefault]="objdumpFlagsDefault"
                 [settingKey]="DataKeys.OBJDUMP_FLAGS" #objdumpflags></app-setting>
  </div>

  <div class="setting-box">
    <div class="title">Readelf flags</div>
    <app-setting [settingDefault]="readElfDefault"
                 [settingKey]="DataKeys.READ_ELF_FLAGS" #reafelfflags></app-setting>
  </div>

  <div class="setting-box">
    <app-action-button text="Reset" (buttonClick)="clearSettingsAndRestart()"></app-action-button>
    <app-action-button text="Save"
                       (buttonClick)="saveSettings([reafelfflags, objdumpflags, gccflags, sources, prefix, elf, toolchain])"></app-action-button>
  </div>

</div>


<div #toolchainPathOptions class="option-menu">
  <div (click)="openToolchainPathExplorerDialog()" class="option">
    Set local...
  </div>
  <div (click)="useDownloadedToolchain()" *ngIf="
  toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
  || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED"
       class="option">
    Use downloaded toolchain
  </div>
  <div (click)="removeToolchain()" *ngIf="
  toolchainDownloaderState === ToolchainDownEnum.DOWNLOADED
  || toolchainDownloaderState === ToolchainDownEnum.WAS_DOWNLOADED"
       class="option">
    Remove downloaded toolchain
  </div>
  <div (click)="downloadToolchain()" *ngIf="toolchainDownloaderState === ToolchainDownEnum.NOT_DOWNLOADED"
       class="option">
    Download toolchain
  </div>
  <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.DOWNLOADING" class="option">
    {{'Downloading... ' + toolchainPercentDownloaded + "%"}}
  </div>
  <div *ngIf="toolchainDownloaderState === ToolchainDownEnum.UNZIPPING" class="option">
    Unzipping
  </div>
</div>
