@import "../../../../../import";

.symbol-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.6em 0.25em 0.6em;
  border-bottom: $border;
}

.assembly-info {
  overflow: hidden;
  padding: 0 0.3em 0.3em 0.3em;

  table {
    border-collapse: collapse;
  }

  .desc {
    padding-bottom: 0.5em;
    font-weight: bold;

    &:nth-child(1n + 3) {
      padding-top: 0.5em;
    }

    &::before {
      content: "";
      display: block;
      height: 1px;
      vertical-align: bottom;
      width: 100%;
      margin-right: -100%;
      border-bottom: #ffffff24 solid 1px;
      margin-bottom: 0.5em;
    }
  }

  .formula {
    font-style: italic;
  }

  .data-header {
    padding: 0 1em 0 0;
  }

  .data-value {
    font-family: "Roboto Mono", monospace;
    padding: 0;
  }
}

.instruction-container {
  margin: 0.3em;
  border: 1px solid $grey3;

  .raw-instruction {
    color: $grey1;
    transition: color 200ms;
  }

  &:not(.was-active):not(.active) {
    &:hover {
      background-color: $grey2;
      border: 1px $grey2 solid;
      transition: background-color 200ms, border 200ms;

      .raw-instruction {
        color: white;
      }
    }

    &[data-expanded="true"] {
      background-color: $grey2;
      border: $border;
      transition: background-color 200ms, border 200ms;

      .raw-instruction {
        color: white;
      }
    }
  }


  .top-row {
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &.was-active {
    background-color: $accentDark;
    border: 1px solid $accentDark;

    .pc {
      background-color: $accent;
      border-color: $accent;
      color: white;
    }

    .raw-instruction {
      color: white;
    }
  }

  &.active {
    background-color: $accent;
    border: 1px solid $accent;

    .pc {
      background-color: $accentDark;
      border-color: $accentDark;
      color: white;
    }

    .raw-instruction {
      color: white;
    }
  }
}

.warning-symbol {
  position: absolute;
  font-size: 10em;
  color: $grey1;
  left: calc(50% - 0.5em - 0.05em);
  top: calc(50% - 0.5em);
}

.grid-container--content  {
  // Include scrollbar styling which is disabled by default
  @include scrollbar;

  // Set border left of scrollbar
  *::-webkit-scrollbar-track {
    border-left: $border;
  }
}

