<ng-template #instructionsInfo>
  <strong>Instructions</strong><br>
  A list of all instructions decoded directly from the .elf file.
  <br><br>
  These were not parsed by the CPU but instead help to understand the order of instructions and which instruction the
  CPU is currently working on.
  <br><br>
  The current Program Counter (PC) marks the instruction currently decoded and executed by the CPU.
</ng-template>

<div class="grid-container">
  <div class="grid-container--header">
    <div style="width: fit-content" [tippy]="instructionsInfo">
      Instructions<i class="fas fa-question-circle" style="margin-left: 0.5em"></i>
    </div>
  </div>
  <div class="grid-container--content">
    <div *ngIf="!parsedElf" style="text-align: left; width: 90%; margin: auto; margin-top: 1em">
      Currently no ELF loaded. Please initiate first.
      <br><br>
      If no ELF file was found in the currently opened folder you can set the path manually in the settings.
      <br>
      <i class="fas fa-exclamation-triangle warning-symbol"></i>
    </div>
    <virtual-scroller #scroll [items]="optimizedInstructionList" *ngIf="parsedElf" style="width: 100%; height: 100%"
                      [enableUnequalChildrenSizes]="true">
      <div *ngFor="let listElement of scroll.viewPortItems">
        <ng-container *ngIf="listElement.instruction">
          <ng-container
            *ngTemplateOutlet="instruction_template; context: { instruction: listElement.instruction, info: getInfoOfInstruction(listElement.instruction.instructionName)}">
          </ng-container>
        </ng-container>
        <div *ngIf="listElement.symbol" class="small-edged-container grey3">
          Symbol {{listElement.symbol.name}}
        </div>
        <div *ngIf="listElement.section" class="small-edged-container grey3">
          Section {{listElement.section.name}}
        </div>
      </div>
    </virtual-scroller>
  </div>
</div>

<ng-template #contextMenu let-hide let-instruction="data">
  <div (click)="hide(); runUntilPC(instruction.pc);" class="context-menu-item">Continue to {{instruction.pc}}</div>
</ng-template>

<ng-template #rawInstruction let-hide let-instruction="data">
  <strong>Raw unparsed data of the instruction</strong><br>
  <table>
    <tr style="vertical-align: top">
      <td>
        <div class="rd-info">as hex:</div>
      </td>
      <td>
        {{byteToHex(instruction.unparsedInstruction, 8)}}
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td>
        <div class="rs1-info">as decimal:</div>
      </td>
      <td>
        {{instruction.unparsedInstruction}}
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td>
        <div class="rs2-info">as binary:</div>
      </td>
      <td>
        {{byteToBinary(instruction.unparsedInstruction, 32, 8)}}
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #instruction_template let-instruction="instruction" let-info="info">
  <div
    [data]="instruction"
    [tippy]="contextMenu"
    class="grey2 instruction-container"
    [class.active]="instruction.active"
    [class.was-active]="instruction.wasActive"
    variation="contextMenu">
    <div style="display: flex; justify-content: space-between; align-items: center;" (click)="expandInfo(instruction)">
      <div class="text-rounded-container mono pc" tippy="Program Counter (PC) of the instruction"
           maxWidth="20em">{{instruction.pc}}</div>
      <div style="flex-grow: 1; padding-left: 0.5em"><span
        tippy="Click to show more">{{info ? info.name : instruction.instructionName }}</span></div>
      <div class="text-rounded-container mono raw-instruction" [tippy]="rawInstruction" maxWidth="30em"
           [data]="instruction">{{byteToHex(instruction.unparsedInstruction, 8)}}</div>
    </div>
    <div *ngIf="info && instruction.infoExpanded" class="assembly-info" [@infoAnimation]>
      <div class="desc">{{info.desc}}</div>
      <div class="formula">{{info.formula}}</div>
      <ng-container *ngIf="info.rs1 || info.rs2 || info.imm || info.rd">
        <div class="desc">Values</div>
        <table>
          <tr *ngIf="info.rs1">
            <td class="data-header">RS1 Addr.</td>
            <td class="data-value">{{instruction.rs1}}</td>
          </tr>
          <tr *ngIf="info.rs2">
            <td class="data-header">RS2 Addr.</td>
            <td class="data-value">{{instruction.rs2}}</td>
          </tr>
          <tr *ngIf="info.rd">
            <td class="data-header">RD Addr.</td>
            <td class="data-value">{{instruction.rd}}</td>
          </tr>
          <tr *ngIf="info.imm">
            <td class="data-header">IMM Value</td>
            <td class="data-value">{{instruction.imm}}</td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="info.text">
        <div class="desc">Description</div>
        {{info.text}}
      </ng-container>
    </div>
  </div>
</ng-template>
