@import "../../../../../import";

.symbol-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.6em 0.25em 0.6em;
  border-bottom: $border;
}

.assembly-info {
  overflow: hidden;
  padding: 0 0.3em 0.3em 0.3em;

  table {
    border-collapse: collapse;
  }

  .desc {
    padding-bottom: 0.5em;
    font-weight: bold;

    &:nth-child(1n + 3) {
      padding-top: 0.5em;
    }

    &::before {
      content: "";
      display: block;
      height: 1px;
      vertical-align: bottom;
      width: 100%;
      margin-right: -100%;
      border-bottom: #ffffff24 solid 1px;
      margin-bottom: 0.5em;
    }
  }

  .formula {
    font-style: italic;
  }

  .data-header {
    padding: 0 1em 0 0;
  }

  .data-value {
    font-family: "Roboto Mono", monospace;
    padding: 0;
  }
}

.instruction-container {
  margin: 0.3em;

  .top-row {
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &.was-active {
    background-color: $accentDark;

    .raw-instruction, .pc {
      background-color: $accent;
      border-color: $accent;
    }
  }

  &.active {
    background-color: $accent;

    .raw-instruction, .pc {
      background-color: $accentDark;
      border-color: $accentDark;
    }
  }
}

.warning-symbol {
  position: absolute;
  font-size: 10em;
  color: $grey1;
  left: calc(50% - 0.5em - 0.05em);
  top: calc(50% - 0.5em);
}
