<ng-template #instructionsInfo>
  <strong>Instructions</strong><br>
  A list of all instructions decoded directly from the .elf file.
  <br><br>
  These were not parsed by the CPU but instead help to understand the order of instructions and which instruction the
  CPU is currently working on.
  <br><br>
  The current Program Counter (PC) marks the instruction currently decoded and executed by the CPU.
</ng-template>

<div class="grid-container">
  <div class="grid-container--header">
    <div style="width: fit-content" [tippy]="instructionsInfo">
      <span>Instructions<i class="fas fa-question-circle" style="margin-left: 0.5em"></i></span>
    </div>
  </div>
  <div class="grid-container--content">
    <div *ngIf="!parsedElf" style="text-align: left; width: 90%; margin: auto; margin-top: 1em">
      <ng-container *ngVar="dataService.getSetting(DataKeys.ELF_PATH) as elf">
        <ng-container *ngIf="elf">
          <i>{{elf}}</i>
          <br><br>
          Please initiate and load the ELF into the CPU.
        </ng-container>
        <ng-container *ngIf="!elf">
          No ELF found in the current folder <i class="fas fa-frown"></i>
          <br><br>
          Please make sure you compiled first.
        </ng-container>
      </ng-container>
      <i class="fas fa-exclamation-triangle warning-symbol"></i>
    </div>
    <virtual-scroller #scroll [items]="optimizedInstructionList" *ngIf="parsedElf" style="width: 100%; height: 100%"
                      [enableUnequalChildrenSizes]="true">
      <div *ngFor="let listElement of scroll.viewPortItems">
        <ng-container *ngIf="listElement.instruction">
          <ng-container
            *ngTemplateOutlet="instruction_template; context: { instruction: listElement.instruction, info: getInfoOfInstruction(listElement.instruction.instructionName)}">
          </ng-container>
        </ng-container>
        <div *ngIf="listElement.symbol" class="small-edged-container grey3">
          Symbol {{listElement.symbol.name}}
        </div>
        <div *ngIf="listElement.section" class="small-edged-container grey3">
          Section {{listElement.section.name}}
        </div>
      </div>
      <!-- padding at bottom -->
      <div style="height: 3em"></div>
    </virtual-scroller>
  </div>
</div>

<ng-template #contextMenu let-hide let-instruction="data">
  <div (click)="hide(); runUntilPC(instruction.pc);" class="context-menu-item">Continue to {{instruction.pc}}</div>
</ng-template>

<ng-template #rawInstruction let-hide let-instruction="data">
  <strong>Raw unparsed data of the instruction</strong><br>
  <table>
    <tr style="vertical-align: top">
      <td>
        <div class="rd-info">as hex:</div>
      </td>
      <td>
        {{byteToHex(instruction.unparsedInstruction, 8)}}
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td>
        <div class="rs1-info">as decimal:</div>
      </td>
      <td>
        {{instruction.unparsedInstruction}}
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td>
        <div class="rs2-info">as binary:</div>
      </td>
      <td>
        {{byteToBinary(instruction.unparsedInstruction, 32, 8)}}
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #instruction_template let-instruction="instruction" let-info="info">
  <div
    [data]="instruction"
    [tippy]="contextMenu"
    class="grey2 instruction-container"
    [class.active]="instruction.active"
    [class.was-active]="instruction.wasActive"
    variation="contextMenu">
    <div class="top-row" (click)="expandInfo(instruction)" tippy="Click to show more" delay="1000">
      <div class="text-rounded-container mono pc" tippy="Program Counter (PC) of the instruction"
           maxWidth="20em">{{instruction.pc}}</div>
      <div style="flex-grow: 1; padding-left: 0.5em"><span
        >{{instruction.assembly }}</span></div>
      <div class="text-rounded-container mono raw-instruction" [tippy]="rawInstruction" maxWidth="30em"
           [data]="instruction">{{byteToHex(instruction.unparsedInstruction, 8)}}</div>
    </div>
    <div *ngIf="info && instruction.infoExpanded" class="assembly-info" [@infoAnimation]>
      <div class="desc">{{info.desc}}</div>
      <div class="formula">{{info.formula}}</div>
      <ng-container *ngIf="info.rs1 || info.rs2 || info.imm || info.rd">
        <div class="desc">Values stored in the instruction</div>
        <table>
          <tr *ngIf="info.rs1">
            <ng-template #rs1>
              <strong>Register Source Address 1</strong><br>
              See Register Tab on the right for more Information
            </ng-template>
            <td class="data-header" [tippy]="rs1">RS1 Addr.</td>
            <td class="data-value">{{instruction.rs1}} -> {{cpuRegDefinitions[instruction.rs1][0]}}</td>
          </tr>
          <tr *ngIf="info.rs2">
            <ng-template #rs2>
              <strong>Register Source Address 2</strong><br>
              See Register Tab on the right for more Information
            </ng-template>
            <td class="data-header" [tippy]="rs2">RS2 Addr.</td>
            <td class="data-value">{{instruction.rs2}} -> {{cpuRegDefinitions[instruction.rs2][0]}}</td>
          </tr>
          <tr *ngIf="info.rd">
            <ng-template #rd>
              <strong>Return Register Address</strong><br>
              See Register Tab on the right for more Information
            </ng-template>
            <td class="data-header" [tippy]="rd">RD</td>
            <td class="data-value">{{instruction.rd}} -> {{cpuRegDefinitions[instruction.rd][0]}}</td>
          </tr>
          <tr *ngIf="info.imm">
            <ng-template #imm>
              <strong>Immediate Value</strong><br>
              Will be used on some way to calculate the above formula
            </ng-template>
            <td class="data-header" [tippy]="imm">IMM</td>
            <td class="data-value">{{instruction.imm}}</td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="info.text">
        <div class="desc">Description</div>
        {{info.text}}
      </ng-container>
    </div>
  </div>
</ng-template>
