@import "../../../../../import";

.symbol-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.6em 0.25em 0.6em;
  border-bottom: $border;
}

::ng-deep .assembly-info-open {
  max-height: 500px !important;
  transition: max-height 1s !important;
  margin-bottom: 0.1em;
}

.assembly-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
  table {
    border-collapse: collapse;
  }

  .desc {
    padding-bottom: 0.3em;
    padding-top: 0.5em;
    font-size: large;

    &::before {
      content:"";
      display: block;
      height: 1px;
      vertical-align: bottom;
      width: 100%;
      margin-right: -100%;
      border-bottom: #ffffff24 solid 1px;
      margin-bottom: 0.3em;
    }
  }

  .formula {
    padding-bottom: 0.5em;
    font-style: italic;
  }

  .data-header {
    padding: 0 1em 0 0;
  }

  .data-value {
    font-style: italic;
    padding: 0;
  }
}

.warning-symbol {
  position: absolute;
  font-size: 10em;
  color: $grey1;
  left: calc(50% - 0.5em - 0.05em);
  top: calc(50% - 0.5em);
}
