// COLORS

$grey1: #707070;
$grey2: #292929;
$grey3: #1C1C1C;

$greyCount: 3;
$greys: $grey1 $grey2 $grey3;

@for $i from 1 through $greyCount {
  .grey#{$i} {
    background-color: nth($greys, $i) ;
  }
}

// FONTS
.mono {
  font-family: "Roboto Mono", monospace;
}


// SIZES
$headerHeight: 2em;
$sectionsHeight: 2em;
$bodyMarginTop: $headerHeight + $sectionsHeight;

$border: 1px solid $grey1;

