/* You can add global styles to this file, and also import other style filesInFolder */
@import "import";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('assets/Roboto_Mono/RobotoMono-Regular.ttf');
}

.grid-stack-item .grid-stack-item-content,
.grid-stack-item .placeholder-content {
  left: 0px !important;
  right: 0px !important;
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, serif;
  background: $grey3;
  height: 100%;
  font-size: 10pt;
}

button {
  font-size: 10pt;
  -webkit-app-region: no-drag !important;
  background: none;
  color: white;
  border: none;
  &:focus {
    outline: none;
  }
}

.shadow-container {
  //box-shadow: 6px 6px 10px #242424, -6px -6px 10px #4a4a4a;
  background-color: $grey3;
  border-radius: 1em;
  margin: 1em;
  border: solid transparent 1em;
}

.grid-container {
  height: 100%;
  width: 100%;
  background: $grey2;
  border: solid 1px transparent;
  overflow: scroll;
}

.small-rounded-container {
  border-radius: 1em;
  margin: 0.2em;
  border: solid transparent 0.3em;
}

.text-rounded-container {
  border-radius: 1em;
  margin: 0.05em;
  border: solid transparent 0.25em;
  display: inline-block;
}


.tabs {
  display: flex;
  height: $sectionsHeight;
  background-color: $grey2;

  button {
    color: white;
    background-color: $grey2;
    border: $border;
    margin-left: 0.6em;
    padding: 0em 1em;
    margin-bottom: -1px;

    &:focus {
      outline: 0;
    }

    &[selected=true] {
      background-color: $grey3;
      border-bottom: 0;
    }
  }
}

.main-tab-header {
  background-color: $grey3;
  border: $border;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-tab-container {
  height: calc(100% - 3em);
  display: flex;
}
