<ng-template #memoryInfo>
  <strong>Memory</strong><br>
  The internal instruction and data memory. The memory is {{memory.length}} bytes long.<br><br>
  The Stack Pointer (sp, Register 2) is set at the beginning of the program to the highest memory address.
  All memory locations will be relative to this first location. Entering a function the stack pointer will
  change.<br><br>
  <img src="static/images/memory_map.svg" style="width: 100%">
</ng-template>

<div class="grid-container">
  <div class="grid-container--header" style="display: flex; justify-content: left">
    <div style="width: fit-content" [tippy]="memoryInfo" placement="bottom" maxWidth="20em">
      <span>Memory<i class="fas fa-question-circle" style="margin-left: 0.5em"></i></span>
    </div>
  </div>
  <div class="grid-container--content" style="overflow: hidden; display: flex; flex-direction: column">
    <div>
      <ng-container *ngIf="address !== null; else doesNotUseMemory">
        <div class="info-top">{{topInfo}}</div>
        <table class="info-table">
          <tr class="desc" *ngIf="isFetchStage(); else loadOrStoreInfo">
            <td>Addr. (PC)</td>
            <td class="middle"></td>
            <td>Read Data</td>
          </tr>
          <ng-template #loadOrStoreInfo>
            <tr class="desc" *ngIf="isStore(); else loadInfo">
              <td>Write Data</td>
              <td class="middle"></td>
              <td>Address</td>
            </tr>
          </ng-template>
          <ng-template #loadInfo>
            <tr class="desc">
              <td>Address</td>
              <td class="middle"></td>
              <td>Read Data</td>
            </tr>
          </ng-template>
          <tr class="data">
            <td
              [class.active]="isLoad() || isFetchStage()">{{addressAsDecimal ? leftInfo : byteToHex(leftInfo, 2)}}</td>
            <td class="middle">───►</td>
            <td [class.active]="isStore()">{{dataAsDecimal ? rightInfo : byteToHex(rightInfo, 2)}}</td>
          </tr>
        </table>
      </ng-container>
      <ng-template #doesNotUseMemory>
        <div class="info-memory-unused">Stage does not use memory</div>
      </ng-template>
    </div>
    <div style="margin: 0.5em">
      <mat-checkbox [(ngModel)]="addressAsDecimal">Address as decimal</mat-checkbox>
      <br>
      <mat-checkbox [(ngModel)]="dataAsDecimal">Data as decimal</mat-checkbox>
    </div>
    <virtual-scroller #scroll [items]="memoryElements" class="virtual-scroller">
      <table class="memory-table">
        <thead #header>
        <th class="header-address">Addr.</th>
        <th class="separator"></th>
        <th class="header-data">Data</th>
        <th class="separator"></th>
        <th class="header-ascii">ASCII</th>
        </thead>
        <tbody #container>
        <tr *ngFor="let i of scroll.viewPortItems" [class.active]="i === address">
          <td *ngIf="!addressAsDecimal" class="address" tippy="as dec: {{i}}">{{byteToHex(i, 2)}}</td>
          <td *ngIf="addressAsDecimal" class="address" tippy="as hex: {{byteToHex(i, 2)}}">{{i}}</td>
          <td class="separator"></td>
          <td *ngIf="!dataAsDecimal" class="data-hex" tippy="as dec: {{read4BytesLittleEndian(memory, i)}}">{{get4BytesHex(memory, i)}}</td>
          <td *ngIf="dataAsDecimal" class="data-decimal" tippy="as hex: {{get4BytesHex(memory, i)}}">{{read4BytesLittleEndian(memory, i)}}</td>
          <td class="separator"></td>
          <td class="data-ascii">{{get4BytesAscii(memory, i)}}</td>
        </tr>
        </tbody>
      </table>
    </virtual-scroller>
  </div>
</div>
