@import "../../../../../import";

.resizer {
  width: 100%;
  height: 10px;
  background: transparent;
  cursor: ns-resize;
  position: absolute;
  margin: -5px;
}

.virtual-scroller {
  height: 100%;
  width: 100%;
}

// Include scrollbar styling which is disabled by default
@include scrollbar;

// Set border left of scrollbar
*::-webkit-scrollbar-track {
  border-left: $border;
}

.memory-table {
  font-size: 1em;
  border-spacing: 0;
  width: 100%;

  th {
    // position: sticky;
    // top: 0;
    border-bottom: $border;
    border-top: $border;
    background-color: $grey2;
    line-height: 1.5em;
  }

  td {
    padding: 0;
    font-family: 'Roboto Mono', monospace;
  }

  tr {
    td:first-child {
      padding-left: 0.5em;
    }
  }

  .separator {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 1px;
  }

  .data-decimal {
    text-align: right;
  }

  .data-hex {
    text-align: center;
  }

  .data-ascii {
    text-align: center;
  }

  .address {
    text-align: right;
  }

  .header {
    &-address {
      width: 25%;
      text-align: right;
    }
    &-data {
      width: 50%;
    }
    &-ascii {
      width: 35%;
    }
  }
}

.active {
  background-color: $colorMemory;
}

.info-top {
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  border-bottom: $border;
  background-color: $grey2;
}

.info-memory-unused {
  text-align: center;
  line-height: 70px; // Height of other container
  border-bottom: $border;
}

.info-table {
  border-spacing: 0;
  padding: 0.5em;
  width: 100%;
  border-bottom: $border;

  td {
    width: (100 - 20) / 2 * 1%;
  }

  .desc {
    font-weight: bold;
  }

  .data {
    font-family: "Roboto Mono", monospace;
  }
  .middle {
    text-align: center;
    width: 20%;
  }
}

