@import "../../import";

.container {
  height: calc(100% - #{$bodyMarginTop});
  width: 100%;
  background-color: $grey4;
}

.sections {
  display: flex;
  height: $sectionsHeight;
  width: 100%;
  background-color: $grey2;
  justify-content: space-around;

  button {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: #292929;
    }
  }
}

.header {
  display: flex;
  height: $headerHeight;
  width: 100%;
  background-color: $grey2;

  button {
    background-color: transparent;
    border: none;
    color: white;

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: #292929;
    }
  }
}
