@import "../../../import";

:host {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.graph {
  width: calc(100% - (#{$gridWidth} * 4) + 1px);
  height: calc(100% + 2px);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 22em;
  top: 0;
  background-color: #1a1b1c;
  border: 1px solid #3d3f41;
  margin-left: -1px;
  margin-top: -1px;

  .control {
    .tabs {
      .fas {
        margin-left: 0.5em;
        &.alu {
          color: $colorALU;
        }
        &.cu {
          color: $colorControlUnit;
        }
        &.be {
          color: $colorBranchEval;
        }
      }
    }
  }

  .canvas {
    flex: 1 1;
    outline: none;
    background: $grey3;
  }

  .info {
    position: absolute;
    top: calc(#{$controlHeight} + #{$tabsHeight} + 1em);
    right: 1em;
    border-radius: 1em;
    border: $border;
    background-color: $grey3;
    padding: 1.5em;
    opacity: 1;
    transition: opacity 100ms;
    max-width: 30em;

    i {
      position: absolute;
      left: -0.3em;
      top: -0.3em;
      font-size: 2em;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.app-instruction {
  position: absolute;
  width: $gridWidth * 2;
  bottom: 0;
  top: 0;
  left: 0;
}

.app-tabs {
  position: absolute;
  width: $gridWidth * 2;
  height: calc(100% - (#{$gridHeight} * 0));
  right: 0;
  bottom: 0;
}
