<div class="graph">
  <div class="control">
    <div class="title"><span>Stage: {{stageName}}</span></div>
    <div class="settings">
      <mat-checkbox (change)="onChangeElaborateSteps($event)" [checked]="elaborateSteps"
                    [disabled]="!cpu.elfIsLoaded || stepDisabled"
                    tippy="Focus and go into elements step by step">Elaborate Steps
      </mat-checkbox>
    </div>
    <div class="actions">
      <button mat-flat-button color="accent" (click)="initiateSimulation()" style="margin-right: 0.5em;">Initiate
      </button>
      <button mat-flat-button color="accent" (click)="stepSimulation()" [disabled]="!cpu.elfIsLoaded || stepDisabled">
        Step<i class="fas fa-play" style="margin-left: 0.5em; vertical-align: unset"></i></button>
    </div>
    <div class="tabs">
      <!-- The paths need to overwrite the last path element e.g. /home/simulation/overview -> /home/simulation/decoder -->
      <button *ngVar="'overview' as s" (click)="goToArea(s)" [attr.selected]="selectedTab === s">Overview</button>
      <button *ngVar="'cu' as s" (click)="goToArea(s)" [attr.selected]="selectedTab === s">Control Unit<i
        class="fas fa-circle {{s}}"></i></button>
      <button *ngVar="'alu' as s" (click)="goToArea(s)" [attr.selected]="selectedTab === s">Arithmetic Logic Unit<i
        class="fas fa-circle {{s}}"></i></button>
      <button *ngVar="'be' as s" (click)="goToArea(s)" [attr.selected]="selectedTab === s">Branch Evaluator<i
        class="fas fa-circle {{s}}"></i></button>
    </div>
  </div>
  <app-graph class="canvas"></app-graph>

  <div class="info" *ngIf="infoText" [@openClose]="showInfo ? 'open' : 'closed'">
    <i class="fas fa-info-circle" (click)="showInfo = !showInfo"></i>
    <div class="text-holder">
      <div class="text" [innerHTML]="infoText | safeHtml" ></div>
    </div>
  </div>
</div>

<app-instructions #instructionsComponent
                  [parsedElf]="cpu.parsedElf"
                  [programCounter]="cpu.bindings.pc | async"
                  class="app-instruction" (onRunToPC)="runToPC($event)"></app-instructions>

<app-vertical-tabs class="app-tabs">
  <app-vertical-tabs-item>
    <span title>Registers<i class="fas fa-circle registers"></i></span>
    <app-registers content class="app-registers"></app-registers>
  </app-vertical-tabs-item>
  <app-vertical-tabs-item>
    <span title>Memory<i class="fas fa-circle memory"></i></span>
    <app-memory content></app-memory>
  </app-vertical-tabs-item>
  <app-vertical-tabs-item>
    <span title>Terminal</span>
    <app-terminal content></app-terminal>
  </app-vertical-tabs-item>
</app-vertical-tabs>

