@import "../../../import";

$gridWidth: 10em;
$gridHeight: 5em;

#simulation-container {
  position: relative;
  top: -1px;
}

.grid-stack-item {
  pointer-events: all;
}

.simulation-item-content {
  position: absolute;
}

.app-instruction {
  width: $gridWidth * 2;
  bottom: 0;
  top: 0;
  left: 0;
}

.app-memory {
  height: $gridHeight * 2;
  bottom: 0;
  left: $gridWidth * 2;
  right: $gridWidth * 2;
}

.app-signals {
  height: $gridHeight * 2;
  width: $gridWidth * 2;
  right: 0;
  top: 0;
}

.app-registers {
  width: $gridWidth * 2;
  height: calc(100% - (#{$gridHeight} * 4));
  right: 0;
  bottom: 0;
}

.app-terminal {
  width: $gridWidth * 2;
  height: $gridHeight * 2;
  top: $gridHeight * 2;
  right: 0;
}
