<div id="simulation-container">
  <app-graph class="simulation-item-content app-graph"></app-graph>

  <div class="tabs simulation-tabs">
    <!-- The paths need to overwrite the last path element e.g. /home/simulation/overview -> /home/simulation/decoder -->
    <button *ngVar="'overview' as s" (click)="focusArea(s)" [attr.selected]="selectedTab === s">Overview</button>
    <button *ngVar="'cu' as s" (click)="focusArea(s)" [attr.selected]="selectedTab === s">Control Unit</button>
    <button *ngVar="'alu' as s" (click)="focusArea(s)" [attr.selected]="selectedTab === s">Arithmetic Logic Unit</button>
    <button *ngVar="'be' as s" (click)="focusArea(s)" [attr.selected]="selectedTab === s">Branch Evaluator</button>
  </div>

  <div class="simulation-item-content control">
    <div id="state">Stage: {{stage}}</div>
    <div id="settings">
      <mat-checkbox (change)="onChangeElaborateSteps($event)" [checked]="elaborateSteps"
                    tippy="Focus and go into elements step by step">Elaborate Steps
      </mat-checkbox>
    </div>
    <div id="actions">
      <app-action-button style="margin-left: 1em" (buttonClick)="initiateSimulation()"
                         text="Initiate"></app-action-button>

      <app-action-button style="margin-left: 1em" (buttonClick)="stepSimulation()"
                         [disabled]="!cpu.elfIsLoaded || stepDisabled"
                         text="Step" iconClass="fas fa-play"></app-action-button>
    </div>
  </div>

  <div class="simulation-item-content info" *ngIf="info">
    <i class="fas fa-info-circle"></i>
    {{info}}
  </div>


  <app-instructions #instructionsComponent
                    [parsedElf]="cpu.parsedElf"
                    [programCounter]="cpu.bindings.pc | async"
                    class="simulation-item-content app-instruction"></app-instructions>

  <app-registers class="simulation-item-content app-registers"></app-registers>
</div>
