@import "../../../import";

$gridWidth: 11em;
$gridHeight: 5em;

#simulation-container {
  position: relative;
  top: -1px;
}

.tabs.simulation-tabs {
  position: absolute;
  top: 0;
  left: $gridWidth * 2;
  right: $gridWidth * 2;

  border-bottom: $border;
  border-top: $border;

  // Overwrite default tab height to make padding
  padding-top: 0.4em;
  height: $sectionsHeight + 0.4em + 0.2em; // More padding because of borders

  // Overwrite default color
  background-color: $grey3;

  button {
    background-color: $grey3;

    &[selected=true] {
      background-color: $grey2;
    }
  }
}

.grid-stack-item {
  pointer-events: all;
}

.simulation-item-content {
  position: absolute;
}

.app-instruction {
  width: $gridWidth * 2;
  bottom: 0;
  top: 0;
  left: 0;
}

.app-memory {
  height: $gridHeight * 2;
  bottom: 0;
  left: $gridWidth * 2;
  right: $gridWidth * 2;
}

.app-signals {
  height: $gridHeight * 2;
  width: $gridWidth * 2;
  right: 0;
  top: 0;
}

.app-registers {
  width: $gridWidth * 2;
  height: calc(100% - (#{$gridHeight} * 0));
  right: 0;
  bottom: 0;
}

.app-terminal {
  width: $gridWidth * 2;
  height: $gridHeight * 2;
  top: $gridHeight * 2;
  right: 0;
}
