<div class="grid-container">
  <div class="grid-container--header">
    Instructions
  </div>
  <div class="grid-container--content">
    <div *ngIf="!parsedElf" style="text-align: center; width: 100%; margin-top: 1em">
      No ELF loaded. Please initiate first.
    </div>
    <ng-container *ngIf="parsedElf">
      <ng-container *ngFor="let section of parsedElf.section_headers">
        <div *ngIf="isSHFExecInstr(section.sh_flags)" class="small-rounded-container grey2">
          {{section.name}}
          <div *ngFor="let symbol of section.symbols" class="small-rounded-container grey3">
            <div class="symbol-header">
              {{symbol.name}}
              <div class="text-rounded-container grey2 mono">{{byteToHex(symbol.st_value, 8)}}</div>
            </div>
            <ng-container *ngFor="let instruction of symbol.instructions">
              <ng-container
                *ngTemplateOutlet="instruction_template; context: { instruction: instruction, info: getInfoOfInstruction(instruction.instructionName)}">
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #contextMenu let-hide let-instruction="data">
  <div (click)="hide()" class="context-menu-item">Continue to {{instruction.pc}}</div>
</ng-template>

<ng-template #instruction_template let-instruction="instruction" let-info="info">
  <div id="assembly-code-div-{{instruction.pc}}"
       [data]="instruction"
       [tippy]="contextMenu"
       class="small-rounded-container grey2"
       variation="contextMenu">
    <div style="display: flex; justify-content: space-between; align-items: center;"
         (click)="expandInfo(instruction.pc)">
      <div class="text-rounded-container mono" id="assembly-code-div-pc-{{instruction.pc}}">{{instruction.pc}}</div>
      <div style="flex-grow: 1; padding-left: 0.5em">{{info ? info.name : instruction.instructionName }}</div>
      <div id="assembly-code-div-hex-{{instruction.pc}}"
           class="text-rounded-container mono">{{byteToHex(instruction.unparsedInstruction, 8)}}</div>
    </div>
    <div *ngIf="info" id="assembly-info-div-{{instruction.pc}}" class="assembly-info">
      <div class="desc">{{info.desc}}</div>
      <div class="formula">{{info.formula}}</div>
      <table>
        <tr *ngIf="info.rs1">
          <td class="data-header">RS1</td>
          <td class="data-value">{{instruction.rs1}}</td>
        </tr>
        <tr *ngIf="info.rs2">
          <td class="data-header">RS2</td>
          <td class="data-value">{{instruction.rs2}}</td>
        </tr>
        <tr *ngIf="info.imm">
          <td class="data-header">IMM</td>
          <td class="data-value">{{instruction.imm}}</td>
        </tr>
        <tr *ngIf="info.rd">
          <td class="data-header">RD</td>
          <td class="data-value">{{instruction.rd}}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
