<div class="grid-container">
  <div class="grid-container--header">
    Instructions
  </div>
  <div class="grid-container--content">
    <div *ngIf="!parsedElf" style="text-align: center; width: 100%; margin-top: 1em">
      No ELF loaded. Please initiate first.
    </div>
    <ng-container *ngIf="parsedElf">
      <div *ngFor="let section of parsedElf.section_headers" class="small-rounded-container grey2">
        {{section.name}}
        <ng-container *ngIf="section.symbols">
          <div *ngFor="let symbol of section.symbols" class="small-rounded-container grey3">
            <div class="symbol-header">
              {{symbol.name}}
              <div class="text-rounded-container grey2 mono">{{byteToHex(symbol.st_value, 8)}}</div>
            </div>
            <ng-container *ngFor="let instruction of symbol.instructions">
              <ng-container *ngTemplateOutlet="instruction_template; context: { $implicit:  instruction}">
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #instruction_template let-instruction>
  <div id="assembly-code-div-{{instruction.pc}}"
       class="small-rounded-container grey2"
       style="display: flex; justify-content: space-between; align-items: center;">
    <div id="assembly-code-div-pc-{{instruction.pc}}"
         class="text-rounded-container mono">{{byteToHex(instruction.pc, 1)}}</div>
    <div style="flex-grow: 1; padding-left: 0.5em">{{instruction.name}}</div>
    <div id="assembly-code-div-hex-{{instruction.pc}}" class="text-rounded-container mono">{{byteToHex(instruction.instruction, 8)}}</div>
  </div>
</ng-template>
